:root {
    --white: #fff;
    --black: #000;
    --lightgrey:  #ABABAB; 
    --mediumgrey: #5c5c5c;
    --darkgrey: #2E2E2E;
    --red: #FA0000FA;
    --darkred: #d10000fa;
    --lightgreen: #01c501fa;
    }