@import "_variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#morse {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: url("/background.png");
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100vw;
}

#morse__background {
  background-color: var(--lightgrey);
  padding: 10px;
  border: 3px solid var(--white);
  border-radius: 15px;
  width: 330px;
  padding-bottom: 30px;
  margin: 0;
}

#morse__translateHeading {
  margin: 0px;
  padding-bottom: 0px;
  transform: scale(1);
  margin-top: 20px;
  width: 100%;
}

#morse__title {
  margin: 0px;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

#morse__redarrows {
  height: 60px;
  width: 50px;
  margin-bottom: -22px;
  -webkit-text-stroke: 0.25px var(--white);
  text-stroke: 0.5px var(--white);
}

#morse__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#morse__form__text,
#morse__form__morse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#morse__form__text #morse__label,
#morse__form__morse #morse__label {
  font-size: 19px;
  font-weight: bold;
  margin-top: 20px;
}

#morse__form__text input,
#morse__form__morse input {
  font-size: 22px;
  margin-bottom: 40px;
  width: 270px;
  height: 45px;
  margin-top: 20px;
  background-color: var(--darkgrey);
  color: var(--white);
  text-align: center;
  border-radius: 15px;
  border: 2px solid var(--white);
}

#text__translateButton,
#morse__translateButton,
#morseText__resetButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 220px;
  height: 45px;
  background-color: var(--darkred);
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  -webkit-text-stroke: 0.25px var(--black);
  text-stroke: 0.5px var(--black);
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#text__translateButton:hover,
#morse__translateButton:hover,
#morseText__resetButton:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1),
    0px 0px 30px rgba(255, 255, 255, 0.9), 0px 0px 40px rgba(255, 255, 255, 0.8),
    0px 0px 50px rgba(255, 255, 255, 0.7), 0px 0px 60px rgba(255, 255, 255, 0.6);
  -webkit-text-stroke: 0.5px black;
  text-stroke: 1px black;
  background-color: var(--lightgreen);
  transform: scale(1.03);
}

#morse__output {
  font-size: 26px;
  margin-top: 20px;
  color: var(--white);
  text-align: center;
  margin-bottom: 40px;
  -webkit-text-stroke: 0.25px var(--black);
  text-stroke: 0.5px var(--black);
  background-color: var(--darkgrey);
  width: 280px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  #morse__background {
    width: 60%;
  }

  #morse__translateHeading {
    transform: scale(0.8);
    margin-top: 0px;
    margin-top: -25px;
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
  }
  #morse__title {
    font-size: 46px;
    position: relative;
    z-index: 2;
  }
  #morse__redarrows {
    height: 110px;
    width: 80px;
    margin-bottom: -38px;
    -webkit-text-stroke: 0.5px var(--black);
    text-stroke: 1px var(--black);
  }
  #morse__form__text #morse__label,
  #morse__form__morse #morse__label {
    font-size: 32px;
    margin-top: 5px;
  }

  #morse__form__text input,
  #morse__form__morse input {
    font-size: 34px;
    margin-bottom: 20px;
    width: 700px;
    height: 60px;
  }
  #text__translateButton,
  #morse__translateButton,
  #morseText__resetButton {
    font-size: 32px;
    width: 350px;
    height: 50px;
    -webkit-text-stroke: 0.5px var(--black);
    text-stroke: 1px var(--black);
  }
  #morse__output {
    font-size: 34px;
    -webkit-text-stroke: 0.5px var(--black);
    text-stroke: 1px var(--black);
    background-color: var(--mediumgrey);
    width: 700px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1440px) {
}
