@import "_variables.css";

#morse {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: url("/background.png")
}

#morse__background {
  background-color: var(--lightgrey);
    padding: 20px;
    border: 3px solid var(--white);
    border-radius: 15px;
}

#morse__translateHeading {
  margin: 0px;
  padding-bottom: 0px;
  transform: scale(0.38);
  position: relative;
  margin-left: -263px;
  margin-bottom: -70px;
  margin-top: -40px;
 }

 #morse__title {
  margin: 0px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
 }

#morse__redarrows{
  height: 50px;
  width: 50px;
  margin-bottom: -17px;
}

#morse__label {
  font-size: 18px;
  font-weight: bold;
}

#morse__textInput
#morse__morseInput {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;}